body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
  padding: 15px;
  background-color: #026CFA;
  text-align: center;
  border: 1px solid white;
  color: #fff;
}